---
layout: default
---
<section class="escuela-2018">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar-white.svg">
        <h2>Escuela 2018</h2>
        <p class="highlight">¿Quieres cambiar el mundo? Te entregamos herramientas para hacerlo. Si eres un liderazgo emergente de Colombia, Ecuador o Guatemala, y tienes proyectos sobre violencia, seguridad pública o transparencia</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf3vptRQevRh7ho7ZEzdKZqdRxZ0W4DyBeBzRNIxelTU8_9Lw/viewform" onclick="ga('send','event','2018-form','click')" class="btn btn-primary" target="_blank">Postula aquí</a>
      </div>
    </div>
  </div>
</section>
<section class="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>Preguntas frecuentes</h2>
        <div class="badge-blue">Sobre la Escuela de Incidencia</div>
        {% include faq01.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-yellow">Sobre quienes postulan</div>
        {% include faq02.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-red">Sobre el proceso de postulación</div>
        {% include faq03.html %}
      </div>
      <div class="col-md-12">
        <br>
        <p class="highlight">¿Tienes preguntas adicionales sobre la Escuela de Incidencia o el proceso de postulación? ¡Mándanos un correo a <mark><a href="mailto:escuela@ciudadanointeligente.org" target="_top">escuela@ciudadanointeligente.org</a></mark> y te responderemos lo más pronto posible!</p>
      </div>
    </div>
  </div>
</section>
