---
layout: default
---
<section class="escuela-2018">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <br>
        <h2 class="text-center">Escuela de Incidencia 2019</h2>
        <p class="highlight text-center">¿Quieres transformar la democracia? Te entregamos herramientas para hacerlo. Postula hasta el 25 de noviembre.</p>
        <a href="https://goo.gl/forms/VGWnjbKlNZ6h0KRE3" class="btn btn-primary" target="_blank" onclick="ga('send','event','puerto-rico-solicita','click')">Postula aquí</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>Sobre la Escuela de Incidencia 2019</h2>
      </div>
      <div class="col-md-6">
      Fundación Ciudadano Inteligente trae por segunda ocasión a Guatemala y Perú el proyecto Escuela de Incidencia, con el fin de formar a personas que están luchando contra la corrupción, la impunidad y buscando recuperar la confianza en las instituciones públicas. La convocatoria está abierta hasta el 25 de noviembre para personas líderes de entre 18 y 45 años con el interés de instaurar una agenda de probidad en sus países y que puedan incorporar el trabajo de la Escuela de Incidencia con su quehacer laboral.
      </div>

      <div class="col-md-3 text-center logo-pr-fci">
        <img src="/assets/img/logo-pr-fci.svg">
      </div>
    </div>
  </div>
</section>
<section class="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>Preguntas frecuentes</h2>
        <div class="badge-red">Sobre la Escuela de Incidencia</div>
        {% include faq11.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-yellow">Sobre quienes solicitan</div>
        {% include faq12.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-blue">Sobre el proceso de solicitud</div>
        {% include faq13.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-red">Sobre las organizaciones convocantes</div>
        {% include faq14.html %}
      </div>
      <div class="col-md-12">
        <br>
        <p class="highlight">
¿Tienes preguntas adicionales sobre la Escuela de Incidencia 2019  o el proceso de solicitud?
¡Mándanos un correo a <mark><a href="mailto:escueladeincidencia@ciudadanointeligente.org" target="_top">escueladeincidencia@ciudadanointeligente.org</a></mark>g y te responderemos lo más pronto posible! 



</p>
      </div>
    </div>
  </div>
</section>
