---
layout: default
---
<section class="escuela-2018">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <br>
        <h2 class="text-center">Escuela de Incidencia Puerto Rico 2018</h2>
        <p class="highlight text-center">¿Quieres cambiar el mundo? Te entregamos las herramientas para hacerlo.
Solicita hasta el 25 de septiembre.</p>
        <a href="https://goo.gl/forms/VGWnjbKlNZ6h0KRE3" class="btn btn-primary" target="_blank" onclick="ga('send','event','puerto-rico-solicita','click')">Solicita aquí</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>Sobre la Escuela de Incidencia Puerto Rico 2018</h2>
      </div>
      <div class="col-md-6">
        Tras más de dos años de trabajo conjunto, Espacios Abiertos y Fundación Ciudadanía Inteligente, traen por primera vez a Puerto Rico el proyecto Escuela de Incidencia, con el fin de formar a 15 personas que defienden causas justas, que están interesadas en el futuro del país y que creen en el poder de las personas como agentes de cambio. La convocatoria está abierta hasta el 25 de septiembre para personas líderes de entre 18 y 45 años con experiencia organizando comunidades o grupos y que puedan incorporar el trabajo de la Escuela de Incidencia con su quehacer dentro de sus organizaciones, colectivos o comunidades.
      </div>
      <div class="col-md-3 text-center logo-pr-ea">
        <img src="/assets/img/logo-pr-ea.svg">
      </div>
      <div class="col-md-3 text-center logo-pr-fci">
        <img src="/assets/img/logo-pr-fci.svg">
      </div>
    </div>
  </div>
</section>
<section class="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>Preguntas frecuentes</h2>
        <div class="badge-red">Sobre la Escuela de Incidencia</div>
        {% include faq07.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-yellow">Sobre quienes solicitan</div>
        {% include faq08.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-blue">Sobre el proceso de solicitud</div>
        {% include faq09.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-red">Sobre las organizaciones convocantes</div>
        {% include faq10.html %}
      </div>
      <div class="col-md-12">
        <br>
        <p class="highlight">
¿Tienes preguntas adicionales sobre la Escuela de Incidencia Puerto Rico 2018  o el proceso de solicitud? ¡Mándanos un correo a <mark><a href="mailto:escueladeincidenciapr@espaciosabiertos.org" target="_top">escueladeincidenciapr@espaciosabiertos.org</a></mark> y te responderemos lo más pronto posible! También puedes comunicarte con Natalia Ramírez Echevarría, Coordinadora de proyectos de Espacios Abiertos al 787-622-1123.
</p>
      </div>
    </div>
  </div>
</section>
