---
layout: default
---
<section class="profiles">
  <div class="container">
    <div class="grid">
      {% for p in site.data.participantes[2017] %}
        {% for e in p.equipo %}
        <div class="grid-sizer col-xs-12 col-sm-6 col-md-3"></div>
        <div class="grid-item col-xs-12 col-sm-6 col-md-3">
          <div class="grid-item-content">
          <div class="perfil">
            <img src="{{ site.baseurl }}{{ e.image }}" alt="{{ e.name }} - {{ e.organization }}" class="img-bio">
            <div class="perfil-info">
              <h4>{{ e.country }}</h4>
              <h3>{{ e.name }}</h3>
              <div class="persona-org">
                <h4>{{ e.organization }} - {{ e.position }}</h4>
              </div>
              <p class="bio">{{ e.bio }}</p>
            </div>
          </div>
          </div>
        </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>

<script>
  $(function() {
    $('.grid').masonry({
      itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
      columnWidth: '.grid-sizer',
      percentPosition: true
    });
  });
</script>
