---
layout: default
---
<section class="profiles">
    <div class="grid">
      {% for p in site.data.participantes[2017] %}
        {% for e in p.equipo %}
        <div class="grid-item">
          <div class="perfil">
            <img src="{{ site.baseurl }}{{ e.image }}" alt="{{ e.name }} - {{ e.organization }}" class="img-bio">
            <div class="perfil-info">
              <h4>{{ e.country }}</h4>
              <h3>{{ e.name }}</h3>
              <div class="persona-org">
                <h4>{{ e.organization }} - {{ e.position }}</h4>
              </div>
              <p class="bio">{{ e.bio }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endfor %}
    </div>
</section>
<script>
  $(function() {
    $('.grid').masonry({
      // options
      itemSelector: '.grid-item',
      columnWidth: 200
    });
  });
</script>
