---
layout: default
---
<section class="filters">
  <div class="container">
    <h2 class="text-center">Participantes Escuela de Incidencia 2017</h2>
    <div>
      <p class="bajada">Filtrar por país</p>
      <button type="button" class="btn btn-primary btn-sm">Bolivia</button>
      <button type="button" class="btn btn-primary btn-sm">Colombia</button>
      <button type="button" class="btn btn-primary btn-sm">Ecuador</button>
      <button type="button" class="btn btn-primary btn-sm">Perú</button>
    </div>
    <div>
      <p class="bajada">Filtrar por área de trabajo</p>
      <button type="button" class="btn btn-primary btn-sm">Ciudad</button>
      <button type="button" class="btn btn-primary btn-sm">Comunicaciones</button>
      <button type="button" class="btn btn-primary btn-sm">Democracia</button>
      <button type="button" class="btn btn-primary btn-sm">Diversidad Sexual</button>
      <button type="button" class="btn btn-primary btn-sm">DDHH</button>
      <button type="button" class="btn btn-primary btn-sm">Educación</button>
      <button type="button" class="btn btn-primary btn-sm">Formación Ciudadana</button>
      <button type="button" class="btn btn-primary btn-sm">Gobierno Abierto</button>
      <button type="button" class="btn btn-primary btn-sm">Juventudes</button>
      <button type="button" class="btn btn-primary btn-sm">Medio Ambiente</button>
      <button type="button" class="btn btn-primary btn-sm">Participación Ciudadana</button>
      <button type="button" class="btn btn-primary btn-sm">Política</button>
      <button type="button" class="btn btn-primary btn-sm">Salud</button>
      <button type="button" class="btn btn-primary btn-sm">Seguridad</button>
      <button type="button" class="btn btn-primary btn-sm">Sustentabilidad</button>
      <button type="button" class="btn btn-primary btn-sm">Transparencia</button>
      <button type="button" class="btn btn-primary btn-sm">Transporte</button>
    </div>
  </div>
</section>

<section class="profiles">
  <div class="container">
    <div class="card-columns">
      {% for p in site.data.participantes[2017] %}
        {% for e in p.equipo %}
          <div class="card">
            <img src="{{ site.baseurl }}{{ e.image }}" alt="{{ e.name }} - {{ e.organization }}" class="card-img-top img-fluid">
              <div class="card-block">
                <div class="perfil-info">
                  <h4>{{ e.country }}</h4>
                  <h3>{{ e.name }}</h3>
                  <div class="persona-org">
                    <h4>{{ e.organization }} - {{ e.position }}</h4>
                  </div>
                  <p class="bio">{{ e.bio }}</p>
                  <span class="badge badge-primary">{{ e.tag1 }}</span>
                  <span class="badge badge-danger">{{ e.tag2 }}</span>
                  <span class="badge badge-warning">{{ e.tag3 }}</span>
                  <span class="badge badge-primary">{{ e.tag4 }}</span>
                  <span class="badge badge-danger">{{ e.tag5 }}</span>
                  <span class="badge badge-warning">{{ e.tag6 }}</span>
                  <span class="badge badge-primary">{{ e.tag7 }}</span>
                  <span class="badge badge-danger">{{ e.tag8 }}</span>
                  <span class="badge badge-warning">{{ e.tag9 }}</span>
                  <span class="badge badge-primary">{{ e.tag10 }}</span>
                </div>
              </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>

<script>
  $(function() {
    $('.grid').masonry({
      itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
      columnWidth: '.grid-sizer',
      percentPosition: true
    });
  });
</script>
