<section class="countries">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>Escuela de Incidencia 2017</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="highlight">En nuestra primera edición, en 2017, convocamos a 32 personas de 4 países para ser parte de la primera generación de la Escuela. </p>
          <li class="highlight"><mark><a href="//ciudadanointeligente.org">Bolivia</a></mark></li>
          <li class="highlight"><mark><a href="//ciudadanointeligente.org">Colombia</a></mark></li>
          <li class="highlight"><mark><a href="//ciudadanointeligente.org">Ecuador</a></mark></li>
          <li class="highlight"><mark><a href="//ciudadanointeligente.org">Perú</a></mark></li>
      </div>
      <div class="col-md-6 justify-content-md-center">
        <img src="/assets/img/2017.svg" class="img-responsive">
      </div>
    </div>
  </div>
</section>
