<section class="countries">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/assets/img/bar.svg">
        <h2>Escuela de Incidencia 2017</h2>
        <p class="highlight">En nuestra primera edición, en 2017, convocamos a 32 personas de 4 países para ser parte de la primera generación de la Escuela. </p>
          <li class="highlight">Bolivia</li>
          <li class="highlight">Colombia</li>
          <li class="highlight">Ecuador</li>
          <li class="highlight">Perú</li>
      </div>
      <div class="col-md-6 justify-content-md-center">
        <img src="/assets/img/map.svg">
      </div>
    </div>
  </div>
</section>
