<section class="countries">
  <div class="container">
    <div class="col-md-6">
      <h2>Escuela de Incidencia 2017</h2>
      <h3>Bogotá, Colombia</h3>
      <p class="highlight">18 a 20 de abril</p>
      <h3>La Paz, Bolivia</h3>
      <p class="highlight">25 a 27 de abril</p>
      <h3>Quito, Ecuador</h3>
      <p class="highlight">16 a 18 de mayo</p>
      <h3>Lima, Perú</h3>
      <p class="highlight">23 a 25 de mayo</p>
    </div>
    <div class="col-md-6">
      <img src="../img/countries-2017.svg" class="img-responsive">
    </div>
  </div>
</section>
