<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading43">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse43" aria-expanded="false" aria-controls="collapse43">
          ¿Cuándo inicia y cuándo termina el periodo de postulación a la Escuela de Incidencia para Sector Público 2018?               </a>
      </h5>
    </div>
    <div id="collapse43" class="collapse" role="tabpanel" aria-labelledby="heading43" data-parent="#accordion">
      <div class="card-body">
        La convocatoria estará abierta del 14 al 24 de junio de 2018.            </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading44">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse44" aria-expanded="false" aria-controls="collapse44">
          ¿Puedo enviar materiales adicionales al formulario de postulación?               </a>
      </h5>
    </div>
    <div id="collapse44" class="collapse" role="tabpanel" aria-labelledby="heading44" data-parent="#accordion">
      <div class="card-body">
        No, cualquier material adicional será solicitado por el equipo a cargo de la Escuela de Incidencia para Sector Público 2018.              </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading45">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse45" aria-expanded="false" aria-controls="collapse45">
          No logré postular antes del cierre de la convocatoria, ¿aún puedo mandar mi postulación?               </a>
      </h5>
    </div>
    <div id="collapse45" class="collapse" role="tabpanel" aria-labelledby="heading45" data-parent="#accordion">
      <div class="card-body">
        No, ¡lo sentimos! No se aceptarán postulaciones fuera de la fecha de convocatoria.                  </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading46">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse46" aria-expanded="false" aria-controls="collapse46">
          Si postulé a otra convocatoria de Escuela de Incidencia y no quedé seleccionadx, ¿puedo postular en esta ocasión?             </a></h5>
    </div>
    <div id="collapse46" class="collapse" role="tabpanel" aria-labelledby="heading46" data-parent="#accordion">
      <div class="card-body">
        ¡Por supuesto! No existe limitantes sobre convocatorias previas para este proceso.             </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading47">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse47" aria-expanded="false" aria-controls="collapse47">
          Si no quedo seleccionadx en esta ocasión, ¿puedo volver a aplicar a futuras convocatorias?              </a>
      </h5>
    </div>
    <div id="collapse47" class="collapse" role="tabpanel" aria-labelledby="heading47" data-parent="#accordion">
      <div class="card-body">
        ¡Claro que sí! Siempre que cumplas con los requerimientos señalados en las bases de la convocatoria.              </div>
      </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading48">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse48" aria-expanded="false" aria-controls="collapse48">
          ¿Cuándo notificarán los resultados de esta convocatoria?            </a>
      </h5>
    </div>
    <div id="collapse48" class="collapse" role="tabpanel" aria-labelledby="heading48" data-parent="#accordion">
      <div class="card-body">
        Los resultados de la convocatoria se publicarán a más tardar durante la segunda semana de julio de 2018.             </div>
    </div>
  </div>
</div>
