<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading34">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse34" aria-expanded="false" aria-controls="collapse34">
          ¿Quiénes pueden postular?
        </a>
      </h5>
    </div>
    <div id="collapse34" class="collapse show" role="tabpanel" aria-labelledby="heading34" data-parent="#accordion">
      <div class="card-body">
        Pueden postular todas las personas que cumplan los siguientes requisitos:
        <ul>
          <li>Personas que se encuentren desarrollando labores, iniciativas o proyectos relacionados a los siguientes temas: <b>seguridad pública, exclusión social y  transparencia y rendición  de cuentas.</b></li>
          <li>Toda persona trabajando en la <b>función pública</b> de organismos centralizados y descentralizados que resida en Ecuador y que su labor requiera  un vínculo con la ciudadanía (organismos sectoriales como por ejemplo: desarrollo social, educación, trabajo, vivienda, salud, seguridad, transparencia, justicia, u otras entidades que ejerzan labores para el mejoramiento de los temas planteados en el punto 1), independiente de su grado jerárquico dentro del Gobierno o poder del Estado (legislativo, judicial o ejecutivo nivel central u organismo descentralizado)</li>
          <li>Que tenga entusiasmo y pasión por aprender nuevas herramientas para el proceso de construcción participativa de políticas públicas.</li>
          <li>Que cuente con la autorización de la personas que supervisa su trabajo para participar de todo el proceso de la Escuela de Incidencia, en caso de ser seleccionadx.</li>
        </ul>
      </div>
      </div>
    </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading35">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse35" aria-expanded="false" aria-controls="collapse35">
          ¿Existe alguna restricción respecto de la edad para postular?
        </a>
      </h5>
    </div>
    <div id="collapse35" class="collapse" role="tabpanel" aria-labelledby="heading35" data-parent="#accordion">
      <div class="card-body">
        La edad mínima para postular a las Escuela de Incidencia es 18 años y la edad máxima es 40 años.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading36">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse36" aria-expanded="false" aria-controls="collapse36">
          ¿Hay alguna restricción asociada a afiliación política?
        </a>
      </h5>
    </div>
    <div id="collapse36" class="collapse" role="tabpanel" aria-labelledby="heading36" data-parent="#accordion">
      <div class="card-body">
        No, cualquier persona que se encuentre desarrollando un proyecto bajo las temáticas y el contexto ya especificados puede postular.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading37">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse37" aria-expanded="false" aria-controls="collapse37">
          ¿Debo pertenecer a un cargo en específico?                </a>
      </h5>
    </div>
    <div id="collapse37" class="collapse" role="tabpanel" aria-labelledby="heading37" data-parent="#accordion">
      <div class="card-body">
        No, puede participar cualquier funcionarix públicx del Estado o que pertenezca a organismos descentralizados y que resida en Ecuador.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading38">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse38" aria-expanded="false" aria-controls="collapse38">
          Tengo grandes ideas sobre cómo mejorar la realidad de mi país o localidad pero no trabajo en algo relacionado a la temática. ¿Puedo postular?                 </a>
      </h5>
    </div>
    <div id="collapse38" class="collapse" role="tabpanel" aria-labelledby="heading38" data-parent="#accordion">
      <div class="card-body">
        No. En esta ocasión  buscamos a personas que se encuentren trabajando en las temáticas <b>(seguridad pública, exclusión social y  transparencia y rendición  de cuentas)</b> que desean tratar en la Escuela de Incidencia.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading39">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse39" aria-expanded="false" aria-controls="collapse39">
          Actualmente trabajo en una temática de las que ustedes señalan, pero no soy funcionarix públicx. ¿Puedo postular?.                  </a>
      </h5>
    </div>
    <div id="collapse39" class="collapse" role="tabpanel" aria-labelledby="heading39" data-parent="#accordion">
      <div class="card-body">
        No, en esta convocatoria sólo buscamos personas que trabajen en el sector público, ya sea en el nivel central como en organismos descentralizados.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading40">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse40" aria-expanded="false" aria-controls="collapse40">
          Si poseo una nacionalidad distinta a la ecuatoriana ¿puedo postular de igual forma?               </a>
      </h5>
    </div>
    <div id="collapse40" class="collapse" role="tabpanel" aria-labelledby="heading40" data-parent="#accordion">
      <div class="card-body">
        ¡No hay problema! Puedes postular de igual forma siempre que residas en Ecuador y seas funcionarix públicx.               </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading41">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse41" aria-expanded="false" aria-controls="collapse41">
          Si estoy en un país no contemplado en la convocatoria ¿puedo postular de igual forma?                </a>
      </h5>
    </div>
    <div id="collapse41" class="collapse" role="tabpanel" aria-labelledby="heading41" data-parent="#accordion">
      <div class="card-body">
        No, para esta ocasión sólo se considerarán en el proceso de postulación aquellas personas residentes en Ecuador.               </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading42">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse42" aria-expanded="false" aria-controls="collapse42">
          Si no vivo en la capital de mi país, ¿puedo postular?               </a>
      </h5>
    </div>
    <div id="collapse42" class="collapse" role="tabpanel" aria-labelledby="heading42" data-parent="#accordion">
      <div class="card-body">
        ¡Claro que sí! En esta oportunidad contamos con becas para financiar la movilización y estadía de aquellxs participantes que no vivan en la capital y lo requieran.                </div>
    </div>
  </div>
</div>
