<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading59">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse59" aria-expanded="false" aria-controls="collapse59">
          ¿Quiénes pueden solicitar?
        </a>
      </h5>
    </div>
    <div id="collapse59" class="collapse" role="tabpanel" aria-labelledby="heading59" data-parent="#accordion">
      <div class="card-body">
        Pueden solicitar aquellas personas que defienden activamente causas justas, que están interesadas en el futuro del país y que creen en el poder de las personas como agentes de cambio. Las y los solicitantes deben ser personas líderes de entre 18 y 45 años, con experiencia organizando comunidades o grupos y que puedan incorporar el trabajo de la Escuela de Incidencia con su quehacer dentro de sus organizaciones, colectivos o comunidades.
        <br>
        Buscamos a personas que se encuentren fuera del ámbito político formal (candidatos/as, asesores/as o representantes políticos/as que actualmente ocupen o hayan ocupado puestos electivos en el pasado), para tener un mayor énfasis en la postura de la comunidad, abarcando diversidad de intereses y necesidades.
        <br>
        Para participar es necesario tener respaldo institucional (cuando aplique), tiempo tanto para asistir al taller presencial como para dedicar a la replicación de lo aprendido y la implementación de proyectos. No es necesario tener capacidad de pago.
      </div>
    </div>
    </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading60">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse60" aria-expanded="false" aria-controls="collapse60">
          ¿Existe alguna restricción respecto de la edad para solicitar?
        </a>
      </h5>
    </div>
    <div id="collapse60" class="collapse" role="tabpanel" aria-labelledby="heading60" data-parent="#accordion">
      <div class="card-body">
        La edad mínima para solicitar a la Escuela de Incidencia es 18 años y la edad máxima es 45 años.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading61">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse61" aria-expanded="false" aria-controls="collapse61">
          ¿Por qué no pueden solicitar personas mayores de 45 años?
        </a>
      </h5>
    </div>
    <div id="collapse61" class="collapse" role="tabpanel" aria-labelledby="heading61" data-parent="#accordion">
      <div class="card-body">
        La Escuela de Incidencia busca transferir metodologías y acciones de incidencia para nuevas generaciones en América Latina. Desde ahí se busca dar espacios a jóvenes -muchas veces invisibilizados e invisibilizadas- que están liderando procesos participativos e innovadores.      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading62">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse62" aria-expanded="false" aria-controls="collapse62">
          ¿Hay alguna restricción asociada a afiliación o trabajo en política?                </a>
      </h5>
    </div>
    <div id="collapse62" class="collapse" role="tabpanel" aria-labelledby="heading62" data-parent="#accordion">
      <div class="card-body">
        Sí, en esta instancia, para tener un mayor énfasis en la postura de la comunidad y la sociedad civil, abarcando diversidad de intereses y necesidades,  esperamos contar con personas que se encuentren fuera del ámbito político partidista formal. No podrán participar candidatos/as, asesores/as o representantes políticos/as que actualmente ocupen o hayan ocupado puestos electivos en el pasado).
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading63">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse63" aria-expanded="false" aria-controls="collapse63">
          Tengo grandes ideas sobre cómo mejorar la realidad de mi comunidad pero aún no las pongo en práctica ¿puedo solicitar?               </a>
      </h5>
    </div>
    <div id="collapse63" class="collapse" role="tabpanel" aria-labelledby="heading63" data-parent="#accordion">
      <div class="card-body">
        No, dado que buscamos a personas que ya se encuentren trabajando de forma activa en la búsqueda de posibles soluciones a los problemas que que hayan identificado en sus comunidades.     </div>
      </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading64">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse64" aria-expanded="false" aria-controls="collapse64">
          Si poseo una nacionalidad distinta a al país donde resido actualmente  ¿puedo solicitar de igual forma?                 </a>
      </h5>
    </div>
    <div id="collapse64" class="collapse" role="tabpanel" aria-labelledby="heading64" data-parent="#accordion">
      <div class="card-body">
        Sí, puedes solicitar siempre que residas en Puerto Rico.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading65">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse65" aria-expanded="false" aria-controls="collapse65">
          Si estoy en un país no contemplado en la convocatoria ¿puedo solicitar de igual forma?                 </a>
      </h5>
    </div>
    <div id="collapse65" class="collapse" role="tabpanel" aria-labelledby="heading65" data-parent="#accordion">
      <div class="card-body">
        No, para esta ocasión solo avanzarán en el proceso de solicitud aquellas personas residentes en Puerto Rico.</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading66">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse66" aria-expanded="false" aria-controls="collapse66">
          Si no vivo en la zona metro de Puerto Rico ¿puedo solicitar?                </a>
      </h5>
    </div>
    <div id="collapse66" class="collapse" role="tabpanel" aria-labelledby="heading66" data-parent="#accordion">
      <div class="card-body">
        ¡Claro que sí! En esta oportunidad contamos con becas para financiar la transportación y estadía de aquellos y aquellas participantes que lo requieran. </div>
    </div>
  </div>
</div>
