<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading49">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse49" aria-expanded="true" aria-controls="collapse49">
          ¿Qué es la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse49" class="collapse show" role="tabpanel" aria-labelledby="heading49" data-parent="#accordion">
      <div class="card-body">
        La <mark><a href="https://escueladeincidencia.org/" target="_blank">Escuela de Incidencia</a></mark>  es un proyecto de formación de <mark><a href="http://ciudadanointeligente.org/" target="_blank">Fundación Ciudadano Inteligente</a></mark> que busca fomentar el liderazgo colaborativo y participativo de nuevas generaciones, para lograr cambios sociales a través de procesos de incidencia en políticas públicas. Transferimos la metodología <mark><a href="https://labcivico.org/" target="_blank">LabCívico</a></mark> a liderazgos emergentes para catalizar procesos de cambio social que unan a la sociedad civil, el gobierno y la academia tras un objetivo común. En este <mark><a href="https://youtu.be/0Ym9E5ug3d4" target="_blank">video</a></mark> se explica el paso a paso de la Escuela de Incidencia.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading50">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse50" aria-expanded="false" aria-controls="collapse50">
          ¿Qué es la metodología LabCívico?
        </a>
      </h5>
    </div>
    <div id="collapse50" class="collapse" role="tabpanel" aria-labelledby="heading50" data-parent="#accordion">
      <div class="card-body">
      <mark><a href="https://labcivico.org/" target="_blank">LabCívico</a></mark> es una metodología de <mark><a href="http://ciudadanointeligente.org/" target="_blank">Fundación Ciudadano Inteligente</a></mark> que permite elaborar estrategias colaborativas para incidir en políticas públicas y, de esta forma, alcanzar cambios sociales. Con esta metodología buscamos responder algunas interrogantes: ¿Cómo idear soluciones a problemas públicos desde la colaboración? ¿Cómo entender la problemática y el contexto que queremos transformar? ¿Cómo generar planes de trabajo colaborativos para incidir? Además, a través de talleres presenciales, con participación de agentes clave provenientes de una diversidad de sectores, se concretarán planes de incidencia con el uso de herramientas tecnológicas y comunicacionales. En este <mark><a href="https://youtu.be/n1hhNRMw-Bk" target="_blank">video</a></mark> se explica el paso a paso de la metodología LabCívico:
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading51">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse51" aria-expanded="false" aria-controls="collapse51">
          ¿Cómo es el proceso de la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse51" class="collapse" role="tabpanel" aria-labelledby="heading51" data-parent="#accordion">
      <div class="card-body">
        <mark><a href="http://ciudadanointeligente.org/" target="_blank">Fundación Ciudadano Inteligente</a></mark> trae por segunda ocasión a Guatemala y Perú el proyecto <mark><a href="https://escueladeincidencia.org/" target="_blank">Escuela de Incidencia</a></mark>. Esta vez buscamos formar a personas que estén trabajando por combatir la corrupción, recuperar la confianza en las instituciones y asegurar un agenda de probidad en su país. <strong>Seleccionaremos a seis duplas en cada país</strong> y les vincularemos con personas trabajando en el sector público para desarrollar iniciativas conjuntas que permitan recuperar la confianza en las instituciones.
        El proceso de la Escuela tiene una duración de ocho meses, partiendo en febrero con una formación presencial, durante la cual las y los participantes aprenderán la metodología <mark><a href="https://labcivico.org/" target="_blank">LabCívico</a></mark>. Tras la formación cada dupla de participantes tendrá un mes para preparar un taller donde replicarán la metodología transferida y generarán la estrategia de incidencia de la mano con personas que trabajen desde el sector público. Realizada la replicación, cada dupla recibirá un fondo semilla y tendrá un máximo de cuatro meses para la implementación de dicha estrategia. Luego, entregará un reporte final compartiendo sus resultados y aprendizajes. El proceso de la Escuela finalizará en septiembre del 2019.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading52">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse52" aria-expanded="false" aria-controls="collapse52">
          ¿Qué incluye la participación en la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse52" class="collapse" role="tabpanel" aria-labelledby="heading52" data-parent="#accordion">
      <div class="card-body">
        <li><b><strong>Taller presencial:</strong></b> Las duplas de personas seleccionadas comenzarán su proceso con un taller de formación presencial que tiene duración de tres días y que se realizará en las capitales de cada país en las siguientes fechas Perú: 7, 8 y 9 de febrero y Guatemala: 21, 22 y 23 de febrero. En el taller recibirán herramientas de facilitación de procesos, liderazgo colaborativo y se les transferirá la metodología LabCívico, que permite realizar una estrategia de incidencia en políticas públicas. Se espera que la dupla pueda unir su trabajo a algún participante del sector público (quienes tendrán un instancia de postulación distinta).
        </li>
        <li><b><strong>Replicación de metodología LabCívico:</strong></b> Luego del taller presencial, el equipo en conjunto organizará y facilitará un taller (laboratorio) con la metodología LabCívico para avanzar en la solución del problema público que busca resolver. Para esto se deberá contemplar al menos un día semanal por entre 7 y 8 semanas para preparar el laboratorio. Con todo preparado, la dupla se hará cargo de la facilitación del LabCívico, que tiene una duración de dos días.
        </li>
        <li><b><strong>Implementación de proyectos:</strong></b> El equipo de participantes, con el apoyo de quienes colaboraron en su taller y con un <strong>fondo semilla de hasta $1000 dólares</strong>, coordinará la implementación del proyecto cívico resultante del laboratorio realizado. Este proyecto deberá mostrar reportes periódicamente y su duración total debe ser de alrededor de cuatro meses a partir del laboratorio. La coordinación y ejecución del proyecto cívico toma al menos unas 6 horas semanales por los meses que dura el proyecto.</li>

    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading53">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse53" aria-expanded="false" aria-controls="collapse53">
          ¿Cuánto tiempo debo comprometer para participar en la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse53" class="collapse" role="tabpanel" aria-labelledby="heading053" data-parent="#accordion">
      <div class="card-body">
        Si te seleccionamos para participar de la Escuela de Incidencia Puerto Rico 2018, debes separar tres días completos para asistir a un taller presencial, que se desarrollará los días 13, 14 y 15 de noviembre de 2018 de 8:30am a 5:30pm en las oficinas de Espacios Abiertos en el Viejo San Juan. Además, debes considerar dos días semanales por entre 7 y 8 semanas para planificar tu LabCívico  y dos días para implementar tu taller. Finalmente, debes contemplar tiempo para la implementación de un proyecto a corto plazo. Por ejemplo, participantes de la Escuela de Incidencia 2017 en otros países han dedicado un día de trabajo por ocho semanas a la coordinación de estos, por ende, recomendamos que los proyectos estén directamente vinculados con tu actividad principal, para que esto sume al alcance de tus objetivos.
        <li><b>13, 14 y 15 de noviembre 2018:</b>Taller presencial</li>
        <li><b>16 de noviembre 2018 a 13 de enero 2019:</b>Preparación de los LabCívico</li>
        <li><b>14 de enero a 5 de febrero 2019:</b>Replicación de los LabCívico</li>
        <li><b>6 de febrero a 31 de mayo 2019:</b>Implementación de los proyectos cívicos</li>
        <li><b>junio 2019:</b>Entrega informe final</li>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading54">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse54" aria-expanded="false" aria-controls="collapse54">
          ¿Tengo que pagar para ser parte de la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse54" class="collapse" role="tabpanel" aria-labelledby="heading54" data-parent="#accordion">
      <div class="card-body">
No, el taller y el acompañamiento no tiene costos asociados. De hecho, se le otorgará a cada participante seleccionado/a un fondo semilla de hasta $1,000 para llevar a cabo su proyecto.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading55">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse55" aria-expanded="false" aria-controls="collapse55">
          ¿Cómo se financia la Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse55" class="collapse" role="tabpanel" aria-labelledby="heading55" data-parent="#accordion">
      <div class="card-body">
        Espacios Abiertos contrató  a la Fundación Ciudadano Inteligente con el fin de realizar la Escuela de Incidencia Puerto Rico 2018. Espacios Abiertos ni recibe ni acepta fondos del gobierno de Puerto Rico, ni del gobierno de los Estados Unidos. El funcionamiento de Espacios Abiertos es posible por subvenciones y donativos de fundaciones e individuos que comparten la visión de que es posible un Puerto Rico más transparente y justo.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading56">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse56" aria-expanded="false" aria-controls="collapse56">
          ¿La Escuela de Incidencia se ha hecho antes?
        </a>
      </h5>
    </div>
    <div id="collapse56" class="collapse" role="tabpanel" aria-labelledby="heading56" data-parent="#accordion">
      <div class="card-body">
        Sí, en 2017 la Fundación Ciudadano Inteligente desarrolló la primera edición de la Escuela en Bolivia, Colombia, Ecuador y Perú y este año se ha realizado en Colombia, Ecuador, Guatemala, Brasil, México y Chile. En total, hay 113 participantes de 8 países que han pasado por la Escuela de Incidencia y se pueden conocer sus historias en escueladeincidencia.org
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading57">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse57" aria-expanded="false" aria-controls="collapse057">
          ¿Necesito cubrir los costos de traslado para participar en los talleres de la Escuela?
        </a>
      </h5>
    </div>
    <div id="collapse57" class="collapse" role="tabpanel" aria-labelledby="heading57" data-parent="#accordion">
      <div class="card-body">
        Para la Escuela de Incidencia Puerto Rico 2018 contamos con becas para el financiamiento de transportación y estadía para quienes lo requieran y vivan en un municipio distante  a la sede del taller presencial.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading58">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse58" aria-expanded="false" aria-controls="collapse58">
          ¿Cómo se solicita este financiamiento de transportación y estadía?
        </a>
      </h5>
    </div>
    <div id="collapse58" class="collapse" role="tabpanel" aria-labelledby="heading58" data-parent="#accordion">
      <div class="card-body">
Una vez hayas sido seleccionado/a para participar de la Escuela de Incidencia Puerto Rico 2018, podrás completar un formulario para solicitar financiamiento de transportación y estadía.
      </div>
    </div>
  </div>
</div>
