<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading73">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse73" aria-expanded="false" aria-controls="collapse73">
          ¿Cuándo inicia y cuándo termina el periodo de postulación a la Escuela de Incidencia 2018?            </a>
      </h5>
    </div>
    <div id="collapse73" class="collapse" role="tabpanel" aria-labelledby="heading73" data-parent="#accordion">
      <div class="card-body">
        La convocatoria estará abierta del 12 al 25 de noviembre 2018.
            </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading74">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse74" aria-expanded="false" aria-controls="collapse74">
        ¿Puedo enviar materiales adicionales al formulario de postulación?             </a>
      </h5>
    </div>
    <div id="collapse74" class="collapse" role="tabpanel" aria-labelledby="heading74" data-parent="#accordion">
      <div class="card-body">
        No, cualquier material adicional será solicitado por el equipo a cargo de la Escuela de Incidencia 2019.            </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading75">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse75" aria-expanded="false" aria-controls="collapse75">
          No logré postular antes del cierre de la convocatoria ¿aún puedo mandar mi postulación?             </a>
      </h5>
    </div>
    <div id="collapse75" class="collapse" role="tabpanel" aria-labelledby="heading75" data-parent="#accordion">
      <div class="card-body">
      No, ¡lo sentimos! No se aceptarán postulaciones fuera de la fecha de convocatoria.               </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading76">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse76" aria-expanded="false" aria-controls="collapse76">
          Si no me seleccionan en esta ocasión, ¿puedo volver a postular a futuras convocatorias?            </a></h5>
    </div>
    <div id="collapse76" class="collapse" role="tabpanel" aria-labelledby="heading76" data-parent="#accordion">
      <div class="card-body">
        ¡Claro que sí! Siempre que cumplas con los requerimientos señalados en las bases de la convocatoria.             </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading77">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse77" aria-expanded="false" aria-controls="collapse77">
        ¿Cuándo notificarán los resultados de esta convocatoria?            </a>
      </h5>
    </div>
    <div id="collapse77" class="collapse" role="tabpanel" aria-labelledby="heading77" data-parent="#accordion">
      <div class="card-body">
        Compartiremos los resultados finales de la convocatoria durante el mes Diciembre.       </div>
      </div>
  </div>
</div>
