<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading78">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse78" aria-expanded="false" aria-controls="collapse78">
          ¿Qué es la Fundación Ciudadano Inteligente?           </a>
      </h5>
    </div>
    <div id="collapse78" class="collapse" role="tabpanel" aria-labelledby="heading78" data-parent="#accordion">
      <div class="card-body">
        La Fundación Ciudadano Inteligente es una organización internacional sin fines de lucro que busca fortalecer las democracias de Latinoamérica, mejorando las reglas del juego e impulsando el empoderamiento ciudadano mediante el uso innovador de tecnologías y la promoción de la transparencia. Ciudadano Inteligente lucha por una sociedad justa e incluyente, lleva batallas judiciales para terminar con la corrupción, promueve la participación ciudadana en elecciones populares, y también ofrece herramientas a organizaciones y activistas que quieren generar un real impacto en la sociedad. Es una ONG laica, feminista, respetuosa y defensora de la diversidad política, cultural, social, religiosa y sexual. Conoce más sobre esta organización en: <mark><a href="//ciudadanointeligente.org" target="_blank">ciudadanointeligente.org</a></mark>             </div>
    </div>
    </div>
  </div>
</div>
