<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading72">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse72" aria-expanded="false" aria-controls="collapse72">
          ¿Qué es Espacios Abiertos?              </a>
      </h5>
    </div>
    <div id="collapse72" class="collapse" role="tabpanel" aria-labelledby="heading72" data-parent="#accordion">
      <div class="card-body">
        Espacios Abiertos (EA) es una organización sin fines de lucro, independiente y no partidista que desde 2014 busca crear y fortalecer mecanismos de participación cívica para que la gente en Puerto Rico pueda incidir directamente en las decisiones que nos afectan. EA promueve la transparencia y rendición de cuentas en los haberes públicos porque cree que una sociedad más abierta, también será una más justa y equitativa. Desde EA se quiere saber dónde está nuestro dinero, qué se hace con nuestro dinero y quién decide sobre nuestro dinero, para provocar una mejor distribución de nuestros recursos y que el país completo pueda desarrollarse y avanzar.
Espacios Abiertos ni recibe ni acepta fondos del gobierno de Puerto Rico, ni del gobierno de los Estados Unidos. El funcionamiento de Espacios Abiertos es posible por subvenciones y donativos de fundaciones e individuos que comparten la visión de que es posible un Puerto Rico más transparente y justo. Conoce más sobre esta organización en: <mark><a href="//espaciosabiertos.org" target="_blank">espaciosabiertos.org</a></mark>

            </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading73">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse73" aria-expanded="false" aria-controls="collapse73">
          ¿Qué es la Fundación Ciudadano Inteligente?                </a>
      </h5>
    </div>
    <div id="collapse73" class="collapse" role="tabpanel" aria-labelledby="heading73" data-parent="#accordion">
      <div class="card-body">
        La Fundación Ciudadano Inteligente es una organización internacional sin fines de lucro que busca fortalecer las democracias de Latinoamérica, mejorando las reglas del juego e impulsando el empoderamiento ciudadano mediante el uso innovador de tecnologías y la promoción de la transparencia. Ciudadano Inteligente lucha por una sociedad justa e incluyente, lleva batallas judiciales para terminar con la corrupción, promueve la participación ciudadana en elecciones populares, y también ofrece herramientas a organizaciones y activistas que quieren generar un real impacto en la sociedad. Es una ONG laica, feminista, respetuosa y defensora de la diversidad política, cultural, social, religiosa y sexual. Conoce más sobre esta organización en: <mark><a href="//ciudadanointeligente.org" target="_blank">ciudadanointeligente.org</a></mark>             </div>
    </div>
  </div>
</div>
