<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading60">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse60" aria-expanded="false" aria-controls="collapse60">
          ¿Quiénes pueden solicitar?
        </a>
      </h5>
    </div>
    <div id="collapse60" class="collapse" role="tabpanel" aria-labelledby="heading60" data-parent="#accordion">
      <div class="card-body">
La convocatoria estará abierta a personas líderes de entre 18 y 45 años. Buscamos representantes de organizaciones de la sociedad civil, medios de comunicación, emprendimientos de innovación social y/o tecnológica, academia o movimientos sociales que puedan incorporar el trabajo de la Escuela de Incidencia con su quehacer laboral. Las personas que estén interesadas deberán aplicar en duplas, pueden pertenecer a la misma organización o colaborar en un proyecto conjunto desde diferentes organizaciones. Es importante considerar que buscamos personas que tengan interés de colaborar con el sector público para asegurar la implementación de mecanismos de probidad y apertura que pongan freno a actos de corrupción en sus países.
      </div>
    </div>
    </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading61">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse61" aria-expanded="false" aria-controls="collapse61">
          ¿Existe alguna restricción respecto de la edad para solicitar?
        </a>
      </h5>
    </div>
    <div id="collapse61" class="collapse" role="tabpanel" aria-labelledby="heading61" data-parent="#accordion">
      <div class="card-body">
        La edad mínima para solicitar a la Escuela de Incidencia es 18 años y la edad máxima es 45 años.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading62">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse62" aria-expanded="false" aria-controls="collapse62">
          ¿Por qué no pueden solicitar personas mayores de 45 años?
        </a>
      </h5>
    </div>
    <div id="collapse62" class="collapse" role="tabpanel" aria-labelledby="heading62" data-parent="#accordion">
      <div class="card-body">
        La Escuela de Incidencia busca transferir metodologías y acciones de incidencia para nuevas generaciones en América Latina. Desde ahí se busca dar espacios a jóvenes -muchas veces invisibilizados e invisibilizadas- que están liderando procesos participativos e innovadores.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading63">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse63" aria-expanded="false" aria-controls="collapse63">
          ¿Hay alguna restricción asociada al sector en donde me desempeño?               </a>
      </h5>
    </div>
    <div id="collapse63" class="collapse" role="tabpanel" aria-labelledby="heading63" data-parent="#accordion">
      <div class="card-body">
        Sí. En esta instancia buscamos a personas trabajado en organizaciones de la sociedad civil, academia, emprendimientos sociales, medios de comunicación o que pertenezcan a movimientos sociales. También convocaremos al sector público en una instancia de postulación distinta.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading64">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse64" aria-expanded="false" aria-controls="collapse64">
        Tengo grandes ideas sobre cómo mejorar la realidad de mi comunidad pero aún no las pongo en práctica ¿puedo solicitar?       </a>
      </h5>
    </div>
    <div id="collapse64" class="collapse" role="tabpanel" aria-labelledby="heading64" data-parent="#accordion">
      <div class="card-body">
        No, dado que buscamos a personas que ya se encuentren trabajando de forma activa en la búsqueda de posibles soluciones a los problemas relacionados con corrupción y probidad en su comunidad o país.
        </div>
      </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading65">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse65" aria-expanded="false" aria-controls="collapse65">
        Si poseo una nacionalidad distinta al país donde resido actualmente  ¿puedo solicitar de igual forma?                  </a>
      </h5>
    </div>
    <div id="collapse65" class="collapse" role="tabpanel" aria-labelledby="heading65" data-parent="#accordion">
      <div class="card-body">
        Sí, puedes solicitar siempre que residas en el país donde será la formación: Guatemala o Perú.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading66">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse66" aria-expanded="false" aria-controls="collapse66">
          Si estoy en un país no contemplado en la convocatoria ¿puedo solicitar de igual forma?               </a>
      </h5>
    </div>
    <div id="collapse66" class="collapse" role="tabpanel" aria-labelledby="heading66" data-parent="#accordion">
      <div class="card-body">
        No, para esta ocasión solo avanzarán en el proceso de solicitud aquellas personas residentes en Guatemala o Perú.</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading67">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse67" aria-expanded="false" aria-controls="collapse67">
          Si no vivo en la zona metropolitana ¿puedo solicitar?            </a>
      </h5>
    </div>
    <div id="collapse67" class="collapse" role="tabpanel" aria-labelledby="heading67" data-parent="#accordion">
      <div class="card-body">
      ¡Claro que sí! En esta oportunidad contamos con becas para financiar el transporte y/o estadía de aquellos y aquellas participantes que lo requieran.  </div>
    </div>
  </div>
</div>
