<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading67">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse67" aria-expanded="false" aria-controls="collapse67">
          ¿Cuándo inicia y cuándo termina el periodo de solicitud a la Escuela de Incidencia 2018?              </a>
      </h5>
    </div>
    <div id="collapse67" class="collapse" role="tabpanel" aria-labelledby="heading67" data-parent="#accordion">
      <div class="card-body">
        La convocatoria estará abierta del 4 al 25 de septiembre de 2018.
            </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading68">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse68" aria-expanded="false" aria-controls="collapse68">
          ¿Puedo enviar materiales adicionales al formulario de solicitud?                </a>
      </h5>
    </div>
    <div id="collapse68" class="collapse" role="tabpanel" aria-labelledby="heading68" data-parent="#accordion">
      <div class="card-body">
        No, cualquier material adicional será solicitado por el equipo a cargo de la Escuela de Incidencia 2018.              </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading69">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse69" aria-expanded="false" aria-controls="collapse69">
          No logré solicitar antes del cierre de la convocatoria ¿aún puedo mandar mi solicitud?                </a>
      </h5>
    </div>
    <div id="collapse69" class="collapse" role="tabpanel" aria-labelledby="heading69" data-parent="#accordion">
      <div class="card-body">
        No, ¡lo sentimos! No se aceptarán solicitudes fuera de la fecha de convocatoria.                  </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading70">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse70" aria-expanded="false" aria-controls="collapse70">
          Si no me seleccionan en esta ocasión, ¿puedo volver a solicitar a futuras convocatorias?             </a></h5>
    </div>
    <div id="collapse70" class="collapse" role="tabpanel" aria-labelledby="heading70" data-parent="#accordion">
      <div class="card-body">
        ¡Claro que sí! Siempre que cumplas con los requerimientos señalados en las bases de la convocatoria.              </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading71">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse71" aria-expanded="false" aria-controls="collapse71">
          ¿Cuándo notificarán los resultados de esta convocatoria?              </a>
      </h5>
    </div>
    <div id="collapse71" class="collapse" role="tabpanel" aria-labelledby="heading71" data-parent="#accordion">
      <div class="card-body">
        Compartiremos los resultados finales de la convocatoria durante el mes de octubre.             </div>
      </div>
  </div>
</div>
