<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>¿Te gustaría ser parte de futuras convocatorias?</h2>
        <p class="highlight"><a href="//ciudadanointeligente.org" class="btn btn-primary">Suscríbete aquí</a> a nuestro newsletter</p>
      </div>
    </div>
  </div>
</section>
<section class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>¿Te gustaría llevar la Escuela de Incidencia a tu país?</h2>
        <p class="highlight"><a href="//ciudadanointeligente.org" class="btn btn-primary">Escríbenos aquí</a></p>
      </div>
    </div>
  </div>
</section>
