<section class="methodology">
  <div class="container">
    <div class="col-md-12">
      <h2>Metodología</h2>
      <p class="highlight">La Escuela de Incidencia es una iniciativa de <mark><a href="http://ciudadanointeligente.org" target="_blank">Ciudadano Inteligente</a></mark> que busca fomentar el liderazgo colaborativo y participativo de nuevas generaciones para lograr cambios sociales a través de procesos de incidencia en políticas públicas. Se dirige a liderazgos emergentes que provienen de ámbitos diversos, es decir, se orienta a recibir personas del sector social, gubernamental y académico. Desde esta instancia de formación se transfieren conocimientos y herramientas metodológicas para fortalecer a sus participantes en habilidades de facilitación de procesos colaborativos e incidencia en políticas públicas. </p>
    </div>
  </div>
</section>
