<nav class="navbar navbar-home">
  <div class="container">
    <div class="navbar-header">
      <div class="brand">
        <a class="site-title" href="{{ site.baseurl }}/" onclick="ga('send','event','logo-home','click')"><img src="{{ site.baseurl }}/img/logo.svg"></a>
        <div class="sub-brand"><a href="http://ciudadanointeligente.org" target="_blank" onclick="ga('send','event','sub-brand-fci','click')">Un proyecto de Ciudadano Inteligente</a>
        </div>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="list-unstyled list-inline navbar-right">
        <li>
          <a href="#" onclick="window.open(&quot;//twitter.com/share?url=https%3A%2F%2Fescueladeincidencia.org&amp;hashtags=EscueladeIncidencia&amp;text=Entregamos herramientas de incidencia para cambiar el mundo. Conoce más en&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
             <span class="fa-stack fa-lg">
             <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
             <i class="fa fa-twitter fa-stack-1x"></i>
           </span>
         </a>
        </li>
        <li class="rrss">
          <a href="#" onclick="window.open(&quot;//www.facebook.com/sharer/sharer.php?u=https://escueladeincidencia.org&quot;,&quot;facebook&quot;,&quot;width=550, height=350&quot;)">
            <span class="fa-stack fa-lg">
             <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><mark><a href="{{ site.baseurl }}/metodologia.html" onclick="ga('send','event','menu-metodologia','click')">Metodología</a></mark></li>
        <li><mark><a href="{{ site.baseurl }}/participantes.html" onclick="ga('send','event','menu-participantes','click')">Participantes</a></mark></li>
        <li><mark><a href="{{ site.baseurl }}/contacto.html" onclick="ga('send','event','menu-contacto','click')">Contacto</a></mark></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
