<section class="welcome">
    <div class="jumbotron">
      <img src="/assets/img/welcome.jpg" class="img-responsive">
    </div>
</section>
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>¿Qué es?</h2>
        <p class="highlight">Transferimos herramientas para cambiar el mundo. La Escuela de Incidencia de <mark><a href="//ciudadanointeligente.org" target="_blank">Ciudadano Inteligente</a></mark> fomenta el liderazgo colaborativo y participativo de nuevas generaciones para lograr cambios sociales a través de la incidencia en políticas públicas. Convocamos a liderazgos emergentes de sectores diversos, como la sociedad civil, el gobierno, y la academia, para trabajar en conjunto.</p>
      </div>
    </div>
  </div>
</section>
