<section class="welcome">
    <div class="jumbotron">
      <img src="/assets/img/welcome.jpg" class="img-responsive">
    </div>
</section>
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>¿Qué es?</h2>
        <p class="highlight">La Escuela de Incidencia de <mark><a href="//ciudadanointeligente.org" target="_blank">Ciudadano Inteligente</a></mark> fomenta el liderazgo de nuevas generaciones para lograr cambios sociales a través de la incidencia en políticas públicas. Transferimos la metodología <mark><a href="//labcivico.org" target="_blank">LabCívico</a></mark> a jóvenes líderes para que catalicen procesos de cambio social que unan a la sociedad civil, el gobierno, y la academia tras un objetivo común.</p>
      </div>
    </div>
  </div>
</section>
