body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: black;
  -webkit-text-size-adjust: 100%;
}

section{
    margin-bottom: 50px;
}

mark {
    background-color: black;
    color: white;
    a{
      color: white;
      text-decoration: none;
      &:hover{
        color: white;
        text-decoration: none;
      }
    }
}

.navbar-home{
  padding: 20px 15px 20px 15px;
  min-height: 110px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  width: 100%;
  .navbar-nav>li>mark>a{
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
  }
  .navbar-nav>li{
    margin: 0 5px 0 5px;
  }
  .navbar-right{
    margin-top: 20px;
  }
  .sub-brand{
    a{
      color: black;
      text-decoration: none;
      font-size: 14px;
    }
  }
}

.navbar-sub{
  background-color: black;
  border: none;
  padding: 20px 15px 20px 15px;
  min-height: 110px;
  top: 0;
  .sub-brand{
    a{
      color: white;
      text-decoration: none;
      font-size: 14px;
    }
  }
  .navbar-nav>li.nav-item{
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    &:hover{
      color: $yellow;
    }
  }
  .navbar-nav>li{
    margin: 0 5px 0 5px;
  }
  .navbar-right{
    margin-top: 5px;
  }
}

.navbar{
  border-radius: 0;
}

li.nav-item.rrss{
  margin-top: -10px;
}

.jumbotron{
  padding: 0;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-responsive{
  width: 100%;
}

h2{
  font-family: 'Montserrat Alternates', sans-serif;
}

h3{
  font-family: 'Montserrat Alternates', sans-serif;
}

h4{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
}

p.highlight{
  font-weight: 700;
  font-size: 20px;
}

section.filters{
  margin-top: 60px;
}

section.method{
  margin-top: 60px;
}

.card-columns{
  column-count: 4;
}

.card-block{
  padding: 0;
}

.card{
  border: 4px solid black;
  margin-bottom: 20px;
  border-radius: 0;
}

.card-img-top{
  border-radius: 0;
}

.card-block{
  padding: 0;
}

.card{
  border: 4px solid black;
  margin-bottom: 20px;
  border-radius: 0;
}

.card-img-top{
  border-radius: 0;
}

.perfil-info{
  padding: 15px;
}

.persona-org{
  border-left: 5px solid black;
  padding-left: 7px;
}

p.bio{
    font-size: 14px;
}

.site-footer {
    background-color: black;
    color: white;
    padding: 40px 0;
    font-size: 14px;
    font-weight: 700;
    a{
      color: white;
      &:hover{
        color: $yellow;
        text-decoration: none;
      }
    }
}

.fa-stack{
  color: white;
}

i.fa.fa-circle.fa-stack-2x.fa-inverse{
  color: black;
}

.invisible{
  visibility: hidden;
}

.navbar-toggler-right{
  top: 7px;
}

i.fa.fa-bars{
  color: white;
}

@media (max-width: 1000px) {
  .card-columns{
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .navbar-sub .navbar-nav > li{
    margin: 0;
  }
  li.nav-item.rrss{
    margin-left: -8px;
  }
  .navbar-home .navbar-nav > li{
    margin: 0 0 5px 0;
  }
  li.nav-item.rrss{
    margin-bottom: 0px;
  }
}

@media (max-width: 770px) {
  .card-columns{
    column-count: 2;
  }
}

@media (max-width: 575px) {
  .card-columns{
    column-count: 1;
  }

  .navbar-brand{
    margin-right: 15rem;
  }
}

@media (max-width: 450px) {
  .navbar-brand{
    margin-right: 10rem;
  }
}

@media (max-width: 380px) {
  .sub-brand{
    visibility: hidden;
  }
  .navbar-brand{
    margin-right: 6rem;
  }
}
